@import url('https://fonts.googleapis.com/css?family=Righteous|Vollkorn|Work+Sans');

body{
    background-color: white;
	margin: 1%;
	font-family: 'Vollkorn', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Work Sans', sans-serif;
}

p{
	font-family: 'Righteous', cursive;
}

#header{
	background-color: #F2D45B;
	width: 100%;
}

#header h1{
	color: white;
}

ul.sidenav li a:hover{
	background-color: #A34567;
	color: #B35678;
}

h2{
    color: #C45D67;
}

h3{
    color: #D56E78;
    font-weight: bold;
}

h4{
  color: white;
}

footer {
	padding: 0.1%;
}


